<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2194366290-5nfi63b43nomraido8i9ujde091quim4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2194366290-5nfi63b43nomraido8i9ujde091quim4</string>
	<key>API_KEY</key>
	<string>AIzaSyCqhQ9Kxy1biwBcoj3N-xB4V1UqKsTuaL4</string>
	<key>GCM_SENDER_ID</key>
	<string>2194366290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobility.Trade</string>
	<key>PROJECT_ID</key>
	<string>tradeapp-ec8a2</string>
	<key>STORAGE_BUCKET</key>
	<string>tradeapp-ec8a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2194366290:ios:d2d45add6eac07323ce48b</string>
</dict>
</plist>